<form action="/articles" method="POST">
  Title:</br>
  <input type="text" name="title"></br>
  Content:</br>
  <input type="content" name="content"></br>
  <input type="submit" value="Submit">
</form>
