
<h1>Add a new Article to the List:</h1>
<form action="/articles" method="post">
  <p>Title: <input type="text" name="title"></p>
  <p>Content: <input type="text" name="content"></p>
    <input type="submit" />
</form>
